html,
body{
  font-size: 16px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
}

.container{
  max-width: 1000px;
  padding: 0 1rem;
  margin: auto;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home a{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 1rem;
  font-size: 1.25rem;
  color: black;
}
/* Registering events */
.container .content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1{
  font-size: 2.5rem;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.container form{
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.container form input{
  flex: 1;
  padding: .5rem;
  border-radius: .5rem 0 0 .5rem;
  border: 1px solid #636161;
}
.container form button{
  padding: .5rem .75rem;
  border: none;
  border-radius: 0 .5rem .5rem 0;
  background: rgb(49, 49, 49);
  color: white;
  cursor: pointer;
}
.container form button:hover{
  opacity: .65;
}
/* Boxes */
.container .boxes{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .boxes .box{
  width: 15vw;
  height: 15vw;
  background: #242424;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container .boxes .box p{
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.35vw;
  font-weight: semibold;
}